<div class="container">
  <%= render 'admin/shared/admin_header' %>
  <%= render 'stats_evolution' %>
  <section class="clearfix">
    <div class="grid-stack">
      <div class="grid-stack-item"
           data-gs-x="0" data-gs-y="0"
           data-gs-width="4" data-gs-height="2">
        <div class="grid-stack-item-content">fefez</div>
      </div>
      <div class="grid-stack-item"
           data-gs-x="4" data-gs-y="0"
           data-gs-width="4" data-gs-height="4">
        <div class="grid-stack-item-content">fzefez</div>
      </div>
    </div>
  </section>




</div>