@import "variables";

.btn {
  &.btn-primary {
    cursor: pointer;
    background-color: $darkgrey;
    border-color: #777;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 9.5px;
    padding: 6px 20px;
  }
}