@import "variables";

.btn {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 9.5px;
  padding: 6px 20px;
  &.btn-primary {
    background-color: $darkgrey;
    border-color: #777;
    &:hover {
      background-color: #3d4142;
    }
  }
}