@import "variables";

.dashboard-stats {
  > div {
    border-right: 2px solid $black;
  }
  &:last-child {
    > div {
      border-right: 0 solid transparent;
    }
  }
  h2 {
    margin: 0;
    font-weight: 600;
    letter-spacing: 0;
    font-size: 14px;
    padding-bottom: 10px;
  }
  .count-stat {
    font-size: 18px;
    font-weight: 800;
  }
}

.chart-container {
  border: 1px solid #E6E9ED;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(175,175,175,0.73);
  -moz-box-shadow: 0px 0px 10px 0px rgba(175,175,175,0.73);
  box-shadow: 0px 0px 10px 0px rgba(175,175,175,0.73);
}