.right-container {
  width: calc(100% - 300px);
  width: -webkit-calc(100% - 300px);
  width: -moz-calc(100% - 300px);
  float:left;
  padding-left: 40px;
}

#filters {
  width : 300px;
  float: left;
  height:100vh;
}