@import "variables";

.capitalize-text {
  text-transform: capitalize;
}

.center-text {
  text-align: center;
}

.bold-text {
  font-weight: 600;
}

.light-text {
  font-weight: 200;
}

.black-text {
  color: $black!important;
}

.red-text {
  color: $red!important;
}

.green-text {
  color: $green!important;
}

.italic-text {
  font-style: italic;
}