@import "variables";

#error_explanation {
  h2 {
    display: none;
  }
}

.main-form {
  &#search-form {
    position: relative;
    input[type="text"] {
      height: 45px;
      padding-left: 20px;
      padding-right: 65px;
    }
    input[type="submit"] {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 45px;
      background-color: transparent;
    }
    &:before {
      content: "\f2f5";
      background-color: #515658;
      font-family: ionicons;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 45px;
      text-align: center;
      color: #fff;
      font-size: 22px;
      padding: 8px 0;
      cursor: pointer;
    }
  }
  label {
    font-weight: 500;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 0;
    &.required {
      &:after {
        content: "*";
        color: $red;
        font-size: 20px;
        padding-left: 5px;
        position: absolute;
      }
    }
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border-radius: 0;
    border-color: #aeaeae;
    &:focus {
      outline: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      border-color: #888;
    }
  }
  input[type="submit"] {
    cursor: pointer;
    background-color: #515658;
    border-color: #777;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 9.5px;
    padding: 6px 20px;
    &:focus {
      outline: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      border-color: #555;
    }
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-style: italic;
    font-weight: 300;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-style: italic;
    font-weight: 300;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-style: italic;
    font-weight: 300;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-style: italic;
    font-weight: 300;
  }
}