@import "variables";

#main-header {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  .navbar-default{
    background: transparent;
    border: 0 solid transparent;
    margin: 0;
    padding: 20px 0;
    .nav {
      a {
        &.dropdown-toggle {
          &:after {
            content: "\f123";
            font-family: Ionicons;
            margin-left: 5px;
          }
        }
      }
      .dropdown {
        &.open {
          a {
            background-color: transparent;
          }
        }
        .dropdown-menu {
          border-radius: 0;
          li {
            a {
              padding: 3px 20px!important;
              text-transform: capitalize;
              &:hover {
                background-color: #eee;
              }
            }
          }
        }
      }
      &.navbar-right {
        li:last-child > a {
          padding-right: 0;
        }
      }
      &.navbar-left {
        li:first-child > a {
          padding-left: 0;
        }
      }
    }
    .navbar-header {
      .navbar-toggle {
        background: transparent;
        border: 0 solid transparent;
        font-size: 22px;
        padding: 9.5px 0;
        margin-top: 0;
        margin-bottom: 0;
      }
      .navbar-brand {
        float: none;
        &.navbar-center {
          position: absolute;
          width: 100%;
          left: 0;
          top: 20px;
          text-align: center;
          margin: auto;
        }
      }
    }
  }
}

#page-header {
  min-height: 220px;
  background-color: #fff;
  margin-bottom: 30px;
  display: flex;
  &.profile {
    margin-bottom: 135px;
    position: relative;
    #cover-banner {
      width: 100%;
      height: 225px;
      overflow: hidden;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      img {
        width: 100%;
        vertical-align: middle;
      }
    }
    #user-data {
      position: relative;
      top: 135px;
      padding: 0 65px;
      h1 {
        font-size: 80px;
        line-height: 80px;
        padding-bottom: 30px;
        .last-name {
          font-family: Montserrat;
          font-weight: 600;
          color: #000;
        }
      }
      ul {
        float: left;
        padding-right: 25px;
        padding-top: 2px;
        li {
          float: left;
          color: $ligthgrey;
          font-size: 16px;
          font-weight: 300;
          &:after {
            content: "|";
            padding: 0 10px;
          }
        }
      }
    }
  }
  &.administration {
    min-height: 100px;
    h1 {
      font-size: 20px;
    }
  }
  > div {
    margin: auto;
  }
  h2 {
    padding: 0;
    font-size: 20px;
  }
  h1 {
    margin: 0;
    font-family: 'Playfair Display';
    text-transform: uppercase;
    font-size: 16px;
    line-height: 25px;
    color: #6c6d6d;
    .clear {
      opacity: .5;
    }
  }
}

#page-sub-header {
  display: block;
  overflow: hidden;
  padding-bottom: 20px;
  .alert-container {
    width: -webkit-calc(100% - 225px);
    width: -moz-calc(100% - 225px);
    width: calc(100% - 225px);
    .alert {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 13px;
    }
  }
  aside {
    .btn {
      width: 100%;
      color: $darkgrey;
      border: 1px solid $darkgrey;
      padding-right: 46px;
      padding-top: 8px;
      position: relative;
      &:after {
        font-family: Ionicons;
        position: absolute;
        right: 0;
        top: 0;
        background: $darkgrey;
        color: #fff;
        height: 100%;
        width: 26px;
        font-size: 13px;
        padding: 3px 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      &.btn-user {
        &:after {
          content: "\f211";
        }
      }
    }
  }
}

.home {
  #page-header {
    min-height: 82vh;
    h1 {
      font-size: 60px;
      line-height: 62px;
      color: #000;
      padding-bottom: 60px;
      .bold {
        font-family: Montserrat;
        font-weight: 700;
      }
    }
  }
}

@media only screen and (max-width:550px) {
  #page-sub-header {
    .alert-container {
      float: none!important;
      width: 100%;
      text-align: center;
    }
    aside {
      float: none!important;
      width: 300px;
      margin: 0 auto;
    }
  }
}