body {
  font-family: Montserrat;
}

.container {
  width: inherit;
  max-width: 1330px;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.content-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: inset 1px 1px 3px #f6f6f6;
  -webkit-box-shadow: inset 1px 1px 3px #f6f6f6;
  -moz-box-shadow: inset 1px 1px 3px #f6f6f6;
  &.avatar{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    float:left
  }
  img {
    min-width: 100%;
    height: inherit;
  }
}

.content-next-avatar {
  float: left;
  width: -moz-calc(100% - 180px);
  width: -webkit-calc(100% - 180px);
  width: calc(100% - 180px);
  padding-left:40px;
}