body {
  font-family: Montserrat;
}

.container {
  width: inherit;
  max-width: 1280px;
  > section {
    padding: 20px 0 40px 0;
  }
}

a {
  text-decoration: none!important;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.content-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &.avatar{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    float:left;
  }
  &.avatar-table {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  &.product-thumbnail {
    height: 300px;
    width: 100%;
    img {
      height: 100%
    }
  }
}

.content-next-avatar {
  float: left;
  width: -moz-calc(100% - 180px);
  width: -webkit-calc(100% - 180px);
  width: calc(100% - 180px);
  padding-left:40px;
}

//.hidden {
//  display: none;
//}