.no-padding-top {
  padding-top: 0!important;
}

.no-padding-right {
  padding-right: 0!important;
}

.no-padding-left {
  padding-left: 0!important;
}

.padding-top-40 {
  padding-top: 40px!important;
}

.padding-bot-40 {
  padding-bottom: 40px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bot-5 {
  margin-bottom: 5px;
}

.margin-bot-15 {
  margin-bottom: 15px;
}
