<div class="row">
  <% @product_sellers.each do |product| %>
    <article class="col-md-3">
      <%= render partial: 'product', locals: {product: product} %>
    </article>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= will_paginate @product_sellers, previous_label: t('datatable_previous'), next_label: t('datatable_next') %>
    </div>
  </div>
</div>